<template name="recordsSidebar">

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <!-- <li class="header"></li> -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>{{_ "records_info_records"}}</span>
            <span class="pull-right-container">
            </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/search/records_repository"><i class="fa fa-circle-o"></i>
                {{_ "records_records_repository"}}
            </a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>{{_ "records_info_settings"}}</span>
            <span class="pull-right-container">
            </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/record_types"><i class="fa fa-circle-o"></i>
            {{_ "records_records_types"}}</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

</template>